.impact {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .container {
        border: solid 1px #000;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        >.title {
            border-bottom: solid 1px #000;
            font-weight: bold;
            text-align: center;
        }

        >.scroller {
            overflow: auto;
        }
    }

    .header {
        border-bottom: solid 1px #000;
        flex: 0;
        font-size: 72px;
        font-weight: bold;
        text-align: center;
    }

    .body {
        display: flex;
        flex: 1;
        flex-direction: row;
    }

    ul {
        list-style: none;
    }
}